# Byte-compiled / optimized / DLL files

# python related
__pycache__/
*.py[cod]
*.$py.class

# R related
*.Rhistory
*.RData

# temporary files
*~

# common files
*.pdf
*.docx
*.txt

# other
.DS_Store
*.log

# directory specific
sec2_lec6/*~
